@import "tailwindcss";

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.logo{
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.logo::before{
  content: '';
  position: absolute;
  height: 80%;
  width: 150%;
  background: linear-gradient(#00ccff,#5b00f9);
  animation: rotate 3s linear infinite;
}
.logo::after{
  content: '';
  position: absolute;
  background-color: #121212;
  inset: 3px;
  border-radius: 8px;
}



@layer base{
    input{
        @apply mt-2 w-full rounded-md outline-none px-3 py-1 font-normal border-1 border-sky-900/80 focus:border-gray-500 
    }
}

*::-webkit-scrollbar{
    height: 0.3rem;
    width: 0.1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: #2e2d2b;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
